<!DOCTYPE html>
<html>
<head>
	<title>Nonstop</title>
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/skeletonEx.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
	<!-- <style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	</style> -->

</head>

<body>
<div class = nav>
	<a style="text-decoration:none; color:black" href="https://www.soundboks.com?utm_source=marquese"><h1>SOUNDBOKS X NONSTOP</h1></a>
</div>
<div class = 'section section-heading'>
	<div class = 'container'>
		<div class = 'row'>
			<h3> Let Marquese AKA "Nonstop" explain to you why the SOUNDBOKS is the perfect outdoor speaker.</h3>
			<div class = 'shop-now'>
				<button class="btn-cta" href='https://www.soundboks.com'> SHOP NOW</button>
			</div>
			
		</div>
	</div>
</div>
<div class = 'section-video'>
	<div class = 'container'>
		<div class = 'intrinsic-container '>
			<iframe class='youtube video' src="https://www.youtube.com/embed/I92glActRuQ" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>


<div class="section values overlay">
    <div class="container">
      <div class="row">
        <div class="one-third column value">
          <h2 class="value-multiplier">119 dB</h2>
          <h5 class="value-heading">Volume</h5>
          <p class="value-description">Loud as a PA system, size of a suitcase.</p>
        </div>
        <div class="one-third column value">
          <h2 class="value-multiplier">92%</h2>
          <h5 class="value-heading">Amplifier Efficiency</h5>
          <p class="value-description">Turn it up to 11 with no clipping or harm</p>
        </div>
        <div class="one-third column value">
          <h2 class="value-multiplier">30 hrs</h2>
          <h5 class="value-heading">Battery Life</h5>
          <p class="value-description">Lasts the whole weekend, plug'n play batteries. </p>
        </div>
      </div>
    </div>
</div>
<!-- Begin MailChimp Signup Form -->
<div class = "section section-signup">
	<div class = "container">
		<div class= "row">
			<div class= "one-half column">
			<p style="padding-top: 2rem"> What people are saying about SOUNDBOKS </p>
			<img src="/images/man.png">
			<h2> "What a great product. Guaranteed to get you laid"<h4>- Esquire Magazine</h4></h2>
			</div>
			<div class= "one-half column border-box">
				<div id="mc_embed_signup">
					<form action="//soundboks.us11.list-manage.com/subscribe/post?u=434fd0e0a8ee25efcac8d7dfe&amp;id=a172543151" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div id="mc_embed_signup_scroll">
						<h2>Subscribe to our mailing list</h2>
					<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
					<div class="row">
							<div class="mc-field-group">
								<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
							</label>
								<input class="u-full-width" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
							</div>
					</div>
					<div class="row">
							<div class="mc-field-group">
								<label for="mce-FNAME">First Name </label>
								<input class="u-full-width" type="text" value="" name="FNAME" class="" id="mce-FNAME">
							</div>
						</div>
					</div>
					<div class="row">
					<div class="mc-field-group">
						<label for="mce-LNAME">Last Name </label>
						<input class="u-full-width" type="text" value="" name="LNAME" class="" id="mce-LNAME">
					</div>
					</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_434fd0e0a8ee25efcac8d7dfe_a172543151" tabindex="-1" value=""></div>
					    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button-primary"></div>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!--End mc_embed_signup-->

</body>

</html>